@font-face {
    font-family: "Anton";
    src: url("/fonts/Anton-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Baskervville SC";
    src: url("../fonts/BaskervvilleSC-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900; /* variable weights */
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Thin.ttf") format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Black.ttf") format("truetype");
    font-weight: 900;
}
